@font-face {
  font-family: "Rubik-Bold";
  src: url("./../fonts/./../fonts/Rubik-Bold.eot");
  src: url("./../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Rubik-Bold.woff2") format("woff2"), url("./../fonts/Rubik-Bold.woff") format("woff"), url("./../fonts/Rubik-Bold.ttf") format("truetype"), url("./../fonts/Rubik-Bold.svg#Rubik-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-BoldItalic";
  src: url("./../fonts/Rubik-BoldItalic.eot");
  src: url("./../fonts/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Rubik-BoldItalic.woff2") format("woff2"), url("./../fonts/Rubik-BoldItalic.woff") format("woff"), url("./../fonts/Rubik-BoldItalic.ttf") format("truetype"), url("./../fonts/Rubik-BoldItalic.svg#Rubik-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("./../fonts/Rubik-Medium.eot");
  src: url("./../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Rubik-Medium.woff2") format("woff2"), url("./../fonts/Rubik-Medium.woff") format("woff"), url("./../fonts/Rubik-Medium.ttf") format("truetype"), url("./../fonts/Rubik-Medium.svg#Rubik-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Light";
  src: url("./../fonts/Rubik-Light.eot");
  src: url("./../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/Rubik-Light.woff2") format("woff2"), url("./../fonts/Rubik-Light.woff") format("woff"), url("./../fonts/Rubik-Light.ttf") format("truetype"), url("./../fonts/Rubik-Light.svg#Rubik-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("./../fonts/Rubik-Regular.eot");
  src: url("./../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Rubik-Regular.woff2") format("woff2"), url("./../fonts/Rubik-Regular.woff") format("woff"), url("./../fonts/Rubik-Regular.ttf") format("truetype"), url("./../fonts/Rubik-Regular.svg#Rubik-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  background-color: #333333;
}

canvas {
  vertical-align: top;
}

.art-wrapper {
  display: flex;
}

.sidebar, p, p:hover {
  color: white;
}

.sidebar {
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Rubik-Regular";
  letter-spacing: 1px;
}
.sidebar h1 {
  font-family: "Rubik-Light";
}
.sidebar p {
  font-size: 20px;
}
.sidebar .control {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.sidebar .control .key {
  width: 20%;
}
.sidebar .control .action {
  width: 80%;
  text-align: right;
}

#p5_loading {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 200px;
  font-family: "Rubik-Regular";
  font-size: 48px;
}

@media only screen and (min-width: 20px) and (max-width: 1079px) {
  .art-wrapper {
    flex-direction: column;
  }

  .sidebar {
    padding: 0 20px 20px;
  }
}

/*# sourceMappingURL=art.css.map */
