/****************
 * All elements *
 ****************/
* {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    color: mediumblue;
}

/********
 * body *
 ********/
body {
    background-color: lightslategrey;
    color: white;;
}
/******
 * h1 *
 ******/
h1 {
    color: black;
}

/*****************************
 * unvisited & visited links *
 *****************************/
a:link, a:visited {
    color: limegreen;
}

/*****************
 * Visited links *
 *****************/
a:visited {
}

/*******************
 * Mouse over link *
 *******************/
a:hover {
    color: hotpink;
}

/******************
 * Selected links *
 ******************/
a:active {
    color: blue;
}