@import "./_fonts.scss";

// Fonts
$font-regular: 'Rubik-Regular';
$font-medium: 'Rubik-Medium';
$font-bold: 'Rubik-Bold';
$font-light: 'Rubik-Light';
$font-bold-italic: 'Rubik-BoldItalic';

// Background color palette
$bg-color-dark-grey: #625F63;
$bg-color-light-grey: #F4F4F5;
$bg-color-dark-purple: #797A9E;
$bg-color-purple: #9893DA;
$bg-color-light-purple: #BBBDF6;

$bg-color-2-dark-grey: #B8B6B9;
$bg-color-2-light-gray: #EAEAEC;
$bg-color-2-purple-gray: #DCDCE5;
$bg-color-2-light-purple: #E2E0F5;
$bg-color-2-dark-purple: #C9CBF8;

$bg-color-3-primary: #034732;
$bg-color-3-black: #141414;
$white: #FFFFFF;
$bg-color: #fafaf8;


// Breakpoints
$bp-desktop: 992px;