@import './global.scss';

body {
  padding: 0;
  margin: 0;
  background-color: #333333;
}

canvas {
  vertical-align: top;
}

.art-wrapper {
  display: flex;
}

.sidebar, p, p:hover {
  color: white;
}

.sidebar {
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-regular;
  letter-spacing: 1px;

  h1 {
    font-family: $font-light;
  }

  p {
    font-size: 20px;
  }

  .control {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;

    .key {
      width: 20%;
    }

    .action {
      width: 80%;
      text-align: right;
    }
  }
}

#p5_loading {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 200px;
  font-family: $font-regular;
  font-size: 48px;
}

@media only screen and (min-width: 20px) and (max-width: 1000px - 1px) {
  .art-wrapper {
    flex-direction: column;
  }

  .sidebar {
    padding: 0 20px 20px;
  }
}

// Just to make my life ez on windows
@media only screen and (min-width: 1000px) and (max-width: 1025px) {
  .back-button {
    display: none;
  }

  .art-wrapper {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }
}