@import "./_variables.scss";

h1 {
  font-family: $font-medium;
  font-size: 50px;
}

h2 {
  font-family: $font-light;
  font-size: 42px;
}

h3 {
  font-family: $font-bold;
  font-size: 36px;
}

body, p, li, a {
  font-family: $font-regular;
  color: black;
  text-decoration: none;
  text-underline: none;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
  }
}

a {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  padding-bottom: 5px;
}

p {
  font-size: 30px;
}