<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
      let f = d.getElementsByTagName(s)[0];
      let j = d.createElement(s);
      let dl = l !== "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5WT2CP6");
  </script>

  <!-- SEO -->
  <!-- TODO - Change page title, canonical -->
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://connorpeace.com/art/whitney.html" rel="canonical">
  <meta property="og:image" content="./../img/profile.png"/>
  <meta name="viewport" content="width=device-width">

  <!-- Styles -->
  <link rel="stylesheet" href="../css/wip-gallery.css">

  <!-- p5 -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.min.js"
      integrity="sha512-bcfltY+lNLlNxz38yBBm/HLaUB1gTV6I0e+fahbF9pS6roIdzUytozWdnFV8ZnM6cSAG5EbmO0ag0a/fLZSG4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
  </script>

  <!-- Helpers -->
  <!--  <script src="../helpers/display-helpers.js"></script>-->

  <!-- Sketch -->
  <script type="module">
    import {wipGalleryPage} from "./wip-gallery-page.js";

    new p5(wipGalleryPage, "sketch");
  </script>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WT2CP6"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<div class="gallery">
  <div class="back-button">
    <a href="../index.html">connorpeace.com</a>
  </div>
  <div class="main-content">
    <div class="info">
      <h1>Random Number Visualizer</h1>
      <p>Harris portrayed herself, appearing in a mirror opposite the actor who plays her on the
        show, Maya Rudolph, who was nervously preparing for a campaign speech. Dressed identically
        in a black suit and pearls, the two traded variations on Harris' first name, saying
        Americans want to "end the drama-la" in politics "with a cool new stepmom-ala."</p>
    </div>
    <div class="sketch" id="sketch"></div>
  </div>
  <div class="controls">
    <button id="back">back</button>
    <button id="forward">forward</button>
  </div>
  <footer>gallery design inspired by <a href="https://www.codergb.art/" target="_blank"
                                        rel="noopener noreferrer">https://www.codergb.art</a>
  </footer>
</div>
</body>
</html>